/* Variable colors */

:root {
    --primary: #4D5AE5; /* CTAs, focused, active states, links */
    --dark: #2E2F42; /* overlays, shadows, headings */
    --success: #31D0AA; /* valid fields, success messages */
    --text: #434455; /* body text */
    --subtle-text: #8E8F99; /*helper text, deemphasized text */
    --accent: #E7E9FC; /* accent color, hairlines, subtle backgrounds */
    --light: #F4F4FD; /* light mode backgrounds, light mode dialogs/alerts */
    --white: #FFFFFF;
  }

/* General */

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;    
    color: var(--text);
    background-color: var(--white);
}

h1 {
    font-size: 56px;
    font-weight: 600;    
}

.list {
    list-style: none;
}

ul.list a {
    text-decoration: none;
}

/* Logo */

.logo {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color:  var(--primary);
}

.logo-dark {
    color: var(--dark);
}

.logo-light {
    color: var(--light);
}

/* Site nav */

.site-nav {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}

.site-nav .link {
    color:  var(--dark);
}

.site-nav .link.current {
    color: var(--primary);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--text);
}

/* Contacts */

.contact .link {
    color: var(--text);
}

.contact .link:hover, 
.contact .link:focus {
    color: var(--primary);
}

/* Hero */

.hero-title {
    
}

/* Section */

.section-title {
    font-size: 36px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--dark);
}

.benefits {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;     
}

.card-name {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--dark);  
}

/* Button */

button {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    border: 0px;
    cursor: pointer;
}

button.primary {
    color: var(--white);
    background-color: var(--primary);
}

button.secondary {
    color: var(--primary);
    background-color: var(--accent);
}

/* Footer */

.footer {
    color: var(--accent);
    background-color: var(--dark);
}